<div class="container-fluid" id="content">
  <div class="row text-center">
    <div class="col-md-12">
      <mat-form-field class="example-full-width" *ngIf="inputFieldsNumber != 0">
        <textarea matInput placeholder="{{input1}}" [(ngModel)]="output1"></textarea>
      </mat-form-field>

      <mat-form-field class="example-full-width" *ngIf="inputFieldsNumber === 2 || inputFieldsNumber === 3  ">
        <textarea matInput placeholder="{{input2}}" [(ngModel)]="output2"></textarea>
      </mat-form-field>

      <mat-form-field class="example-full-width" *ngIf="inputFieldsNumber === 3">
        <textarea matInput placeholder="{{input3}}" [(ngModel)]="output3"></textarea>
      </mat-form-field>
      <button mat-raised-button color="primary" *ngIf="inputFieldsNumber != 0" (click)="onSubmit(output1, output2, output3)">Submit</button>
    </div>
  </div>
</div>

<div class="container" id="content">
    <div class="col-md-12">
      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons  *ngIf="option === 'List Clients'"></mat-paginator>
      <table mat-table [dataSource]="dataSource2" matSort class="mat-elevation-z8" *ngIf="option === 'List Clients'" id="list">

        <ng-container matColumnDef="clientName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Client Name</th>
          <td mat-cell *matCellDef="let element"> {{element.CLIENT_NAME}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>
      </table>
    </div>
</div>

<mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons  *ngIf="option === 'List Actions'"></mat-paginator>
<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8" *ngIf="option === 'List Actions'" id="list">

  <ng-container matColumnDef="actionName">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Action Name </th>
    <td mat-cell *matCellDef="let element"> {{element.ACTION_NAME}} </td>
  </ng-container>

  <ng-container matColumnDef="actionTime">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Action Time </th>
    <td mat-cell *matCellDef="let element"> {{element.ACTION_TIME}} </td>
  </ng-container>

  <ng-container matColumnDef="clientName">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Client Name </th>
    <td mat-cell *matCellDef="let element"> {{element.CLIENT_NAME}} </td>
  </ng-container>

  <ng-container matColumnDef="balance">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Balance </th>
    <td mat-cell *matCellDef="let element"> {{element.BALANCE}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<h2>{{message}}</h2>
